.admin-page {
	margin: 15px;
	font-family: arial,sans-serif;
	font-size:15px;
	background: #e6e6e6;
	border:1px solid gray;
}

.admin-menu {
	text-align:center;
	border-bottom:1px solid gray;
	padding:5px;
}

.admin-menu-entry {
	display: inline-block;
	border: 1px solid gray;
	text-transform:uppercase;
	border-radius: 5px;
	height:25px;
	line-height: 25px;
	padding: 0 10px;
	cursor: pointer;
}

.admin-menu-entry:hover, 
.admin-menu-entry-selected {
	background: white;
	border: 1px solid black;
}

.admin-panel-title {
	margin:25px;
	height:35px;
	line-height: 35px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
}

.admin-panel-warning {
	margin:2px;
	color:red;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
}

.admin-panel-content {
	margin: 20px;
	padding: 20px 0;
	border : 2px solid black;
	border-radius:20px;
	text-align: center;
}

.admin-panel-content fieldset {
	margin: 0 50px;
}

.admin-input-file {
	color:black;
	background:grey;
	border:5px;
	border-radius:5px 0px 0px 5px;
	font-size:1em;
	padding:6px 20px;
	margin:0px;
	cursor:pointer;
	margin-right:2px;
}

.admin-input-file-valued {
	color:white;
	background:black;
}

.admin-input-file-button {
	color:black;
	background:grey;
	border:5px;
	border-radius:0px 5px 5px 0px;
	font-size:1em;
	padding:6px 20px;
	margin:0px;
	cursor:pointer;
}

.admin-input-file-button-enabled {
	color:white;
	background:black;
}

.admin-select {
	display: inline-block;
}

.admin-select ul.list {
	list-style: none;
	display: block;
	position: absolute;
	padding: 7px 0 0 0;
	margin: 0 0 0 0;
}

.admin-select ul.list li.item {
	display:none;
	color: black;
	background: white;
	border: 1px solid black;
	margin: 1px;
	padding: 2px;
	position: relative;
	left: -20px;
}

.admin-select ul.list li.item:hover {
	color: white;
	background: black;
}

.admin-select:hover ul.list li.item {
	display:block !important;
}

.admin-button {
	color:white;
	background:black;
	border:5px;
	border-radius:5px;
	font-size:1em;
	padding:6px 20px;
	cursor:pointer;
}

.admin-button:disabled {
	color:black;
	background:grey;
}

.admin-report {
	text-align:left;
	font-family:monospace;
	margin:2em;
	padding:2em;
	overflow-y: auto;
	max-height: 20em;
	color: white;
	background: black;
}

.admin-report > span {
	overflow-wrap:break-word;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.admin-report > span.OK {
	color: #00FF00;
	font-weight: bold;
}

.admin-report > span.KO {
	color: #FF0000;
	font-weight: bold;
}

.admin-report > span.info {
	color: white;
}

.admin-report > span.error {
	color: red;
}

.admin-report > span.warn {
	color: orange;
}

.admin-report > span.thrown {
	font-weight: bold;
}

.admin-progress {
	border:1px solid;
	color:black;
	margin:2em;
	text-align:left;
}

.admin-progress div {
	height:1em;
	background-color:gray;
	text-align:right;
}

.admin-message {
	color:black;
	margin:2em;
}

.list.admin li.header div {
	background: darkgray;
	font-weight: bold;
	padding: 4px 0px;
}

.list.admin li div input,
.list.admin li div select,
.list.admin li div i {
	background:white;
	border:1px solid gray;
	border-radius: 3px;
}

.list.admin li div input.ipv4 {
	width:21%;
}

.list.admin li div input.ipv6 {
	width:8.4%;
	font-size:96%;
}

.list.admin li div.action {
	color:lightgrey;
}

.list.admin li div a {
	color: #686968;
}

.list.admin li div.profile:hover,
.list.admin li div.notify:hover,
.list.admin li div.counter:hover,
.list.admin li div.urlsList:hover {
	color:black;
}

.list.admin li div.delete:hover,
.list.admin li div.remove:hover {
	color:red;
}

.list.admin li div.update:hover {
	color:green;
}

.list.admin li div.create:hover,
.list.admin li div.add:hover {
	color:blue;
}

.list.admin.context {
	--num-actions: 5;
}

.list.admin.context li div.column.name {
	width: 200px;
}

.list.admin.context li div.column.title {
	width: 300px;
}

.list.admin.users {
	--num-actions: 4;
}

.list.admin.users li div.column.login,
.list.admin.users li div.column.name,
.list.admin.users li div.column.email {
	width: 210px;
}

.list.admin.urlsList,
.list.admin.roles,
.list.admin.ip {
	--num-actions: 1;
}

.list.admin.urlsList li div.column.secure {
	width: 2em;
}

.list.admin.urlsList li div.column.host,
.list.admin.urlsList li div.column.path {
	width: 300px;
}

.list.admin.roles li div.column.role,
.list.admin.roles li div.column.context,
.list.admin.roles li div.column.start,
.list.admin.roles li div.column.end {
	width: 170px;
}

.list.admin.ip li div.column.ip {
	width: 560px;
}

.list.admin.ip li div.column.mask {
	width: 60px;
}

.list.admin.ip li div.column.include {
	width: 80px;
}

.admin-table {
	margin: 20px auto;
}

.admin-table th {
	font-weight: bold;
	background: darkgray;
}

.admin-table th,
.admin-table td {
	color: black;
	padding: 4px 2px 4px 2px;
	margin: 2px;
	border-radius: 0px !important;
	font-size:15px !important;
	font-family: arial,sans-serif;
	vertical-align: middle;
}

.admin-table th {
	background: darkgray;
}

.admin-table td {
	background: white;
}

#expand-list {
	cursor: pointer;
}

#import-notify {
	line-height: 1 !important;
}

div#wrapper {
	text-align: left ! important;
	margin: 0 20px;
}

div#wrapper > div#actions {
	margin: 0;
	text-align: center;
}

div#wrapper > div.date {
	margin-left: 10px;
	margin-bottom: 10px;
}

div#wrapper > textarea {
	width: calc(100% - 40px);
	height: 200px;
	overflow: auto;
	resize: vertical;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 20px;
	margin-top: 10px;
}

div#wrapper > div#save {
	text-align: center;
	margin-top: 10px;
}

div#wrapper > div#preview {
	background: white;
	margin-top: 10px;
}

.admin-panel .cursor li.step {
	color: gray;
	border: 1px solid lightgray;
	padding: 2px;
	width: calc(1em + 4px);
	margin: 0 10px;
}

.admin-panel .cursor li.step:hover {
	color: black;
	border-color: black;
}

.admin-panel .cursor li.index select {
	max-width: 500px;
}
