[data-tooltip] {
	position: relative;
	cursor: pointer;
}

[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	visibility: hidden;
	z-index:100000000;
}

[data-tooltip]:hover:after {
	visibility: visible;
}

.state .display.hidden {
	visibility: hidden;
}

a.mail:after {
	content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

/* ---------------------------------- Dialog ---------------------------------- */

#dialogs {
	display:none;
}

#__dialog_ {
	position:fixed;
	margin:0;
	padding:0;
	min-width:120px;
}

#__dialogModal_ {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #3C4E66;
	opacity: 0.9;
}

.dialog-box {
	text-align:center;
	padding:15px;
	background: #6C747F;
}

.dialog-title {
	font-size:1.2em;
	color: white;
	text-transform: uppercase;
}

.dialog-subtitle {
	font-size:1em;
	color: white;
	text-transform: uppercase;
}

.dialog-content {
	padding:5px;
}

.dialog-wait {
	background: url(/img/wait.gif) white no-repeat;
	background-position: center;
	width: 60px;
	height: 60px;
	text-align: center;
	border: 2px solid #6C747F;
	border-radius: 30px;
	/*box-shadow: -10px 10px 38px rgb(105, 119, 131);*/
}

.waitmsg {
	margin: 25px;
	padding: 2px;
	max-width: 275px;
	color: white;
	text-transform: uppercase;
}

.dialog_help_content {
	max-width: 350px;
	padding: 8px;
	background: white;
	margin-bottom: 15px;
}

textarea[data-id] {
	width:300px;
	height:100px;
}

button[data-id] {
	background:#33455D;
	border:none;
	padding:3px 8px;
	margin-top:15px;
	color: white;
	text-transform: uppercase;
	cursor:pointer;
}

/* ---------------------------------- loading ---------------------------------- */
div.loading {
	width: 50em;
	display: block ! important;
	background: no-repeat center url("/img/wait.gif");
}

/* ---------------------------------- account ----------------------------------- */
ul.account {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.account > li {
	display: none;
}

ul.account > li.active {
	display: block;
}

ul.account > li.account div.switch {
	cursor: pointer;
}

form.account  {
	text-transform: uppercase;
	background: #999;
	color: black;
	border-radius: 3px;
	width:450px;
	margin:70px auto;
	text-align:center;
	padding:30px;
}

form.account label {
	width:150px;
	display: inline-block;
	text-align: right;
}

form.account input {
	background:#EEE;
	width: 250px;
	height: 25px;
	margin-left: 20px;
	margin-bottom: 15px;
	padding:5px;
	border:0;
}

form.account input[type='submit'] {
	background:#CCC;
	color:#999;
	margin:10px;
	width:10em;
	height:3em;
	cursor:pointer;
	text-transform: uppercase;
}

form.account input[type='submit']:hover {
	background:black;
	color:white;
}

form.account div {
	text-align:center;
}

/* -------------------------------- slide -------------------------------*/
.slide {
	display: grid;
	margin: auto;
	--backward-size: 0px;
	--forward-size: 0px;
	--top-size: 0px;
	--bottom-size: 0px;
	--right-size: 0px;
	--left-size: 0px;
}

.slide[data-direction="horizontal"] {
	width: calc(var(--left-size) + var(--backward-size) + var(--slide-width) + var(--forward-size) + var(--right-size));
	height: calc(var(--top-size) + var(--slide-height) + var(--bottom-size));
	grid-template-areas: "left top      top    top     right"
	                     "left backward window forward right"
	                     "left bottom   bottom bottom  right";
	grid-template-columns: var(--left-size) var(--backward-size) var(--slide-width) var(--forward-size) var(--right-size);
	grid-template-rows: var(--top-size) var(--slide-height) var(--bottom-size);
}

.slide[data-direction="vertical"] {
	width: calc(var(--left-size) + var(--slide-width) + var(--right-size));
	height: calc(var(--top-size) + var(--backward-size) + var(--slide-height) + var(--forward-size) + var(--bottom-size));
	grid-template-areas: "top    top      top"
	                     "left   backward right"
	                     "left   window   right"
                         "left   forward  right"
                         "bottom bottom   bottom";
	grid-template-columns: var(--left-size) var(--slide-width) var(--right-size);
	grid-template-rows: var(--top-size) var(--backward-size) var(--slide-height) var(--forward-size) var(--bottom-size);
}

.slide > .top {
	grid-area: top;
	height: var(--top-size);
}

.slide > .bottom {
	grid-area: bottom;
	height: var(--bottom-size);
}

.slide > .left {
	grid-area: left;
	width: var(--left-size);
}

.slide > .right {
	grid-area: right;
	width: var(--right-size);
}

.slide > .backward {
	grid-area: backward;
}

.slide[data-direction="horizontal"] > .backward {
	width: var(--backward-size);
}

.slide[data-direction="vertical"] > .backward {
	height: var(--backward-size);
}

.slide > .forward {
	grid-area: forward;
}

.slide[data-direction="horizontal"] > .forward {
	width: var(--forward-size);
}

.slide[data-direction="vertical"] > .forward {
	height: var(--forward-size);
}

.slide > .window {
	grid-area: window;
	overflow: hidden;
	width: var(--slide-width);
	height: var(--slide-height);
}

.slide .slider {
	position: relative;
}

.slide .controls {
	color: var(--controls-color,#CCCCCC);
	font-size: var(--controls-size, 18px);
	cursor: pointer;
	margin: auto;
	overflow: hidden;
}

.slide .controls:hover {
	color: var(--controls-hover,#666666);
}

.slide .controls span {
	color: var(--controls-color,#CCCCCC);
}

.slide .controls span:hover {
	color: var(--controls-hover,#666666);
}

.slide .controls span.highlight {
	color: black;
}

.slide .controls span.pause:before {
	content: 'Ⅱ';
	font-weight: bold;
	position: relative;
	top: 2px;
}

.slide .controls span.play:before {
	content: '▶';
}

.slide .controls span.index:before {
	content: '●'
}

.slide .controls span.index.highlight:before {
	content: '◉';
}

.slide .controls.top span,
.slide .controls.bottom span {
	display: inline;
	vertical-align: middle;
}

.slide .controls.left span,
.slide .controls.right span {
	display: block;
	text-align: center;
	line-height: 0.7em;
}

.slide .controls.backward,
.slide .controls.forward {
	display: inline-flex;
}

.slide[data-direction="horizontal"] .backward,
.slide[data-direction="horizontal"] .forward {
	vertical-align: middle;
}

.slide[data-direction="horizontal"] .backward span:before {
	content: var(--backward-horizontal, '〈');
}

.slide[data-direction="horizontal"] .forward span:before {
	content: var(--forward-horizontal, '〉');
}

.slide[data-direction="vertical"] .backward,
.slide[data-direction="vertical"] .forward {
	text-align: center;
	margin: auto;
}

.slide[data-direction="vertical"] .backward span:before {
	content: var(--backward-vertical, '︿');
}

.slide[data-direction="vertical"] .forward span:before {
	content: var(--forward-vertical, '﹀');
}

.slide[data-direction="horizontal"] .slider {
	left: 0px;
}

.slide[data-direction="vertical"] .slider {
	top: 0px;
}

.slide .slider > ul {
	margin: 0;
	padding: 0;
}

.slide .slider > ul > li.frame {
	height: var(--slide-height);
	width: var(--slide-width);
}

.slide[data-direction="vertical"] .slider > ul {
	display: block;
	width: var(--slide-width);
}

.slide[data-direction="horizontal"] .slider > ul {
	display: table-row;
	height: var(--slide-height);
}

.slide[data-direction="vertical"] .slider > ul > li.frame {
	display: block;
}

.slide[data-direction="horizontal"] .slider > ul > li.frame {
	display: table-cell;
}

.slide[data-transition="swipe"][data-direction="horizontal"] .slider {
	transition: left var(--slide-transition, 1s);
}

.slide[data-transition="swipe"][data-direction="vertical"] .slider {
	transition: top var(--slide-transition, 1s);
}

.slide[data-transition="crossfade"] .slider > ul > li.frame {
	opacity: 0;
	transition: opacity var(--slide-transition, 1s);
}

.slide[data-transition="crossfade"] .slider > ul > li.frame.current {
	opacity: 1;
}
