[data-tooltip] {
	position: relative;
	cursor: pointer;
}

[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	visibility: hidden;
	z-index:100000000;
}

[data-tooltip]:hover:after {
	visibility: visible;
}

.state .display.hidden {
	visibility: hidden;
}

a.mail:after {
	content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

/* ---------------------------------- Dialog ---------------------------------- */

#dialogs {
	display:none;
}

#__dialog_ {
	position:fixed;
	margin:0;
	padding:0;
	min-width:120px;
}

#__dialogModal_ {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #3C4E66;
	opacity: 0.9;
}

.dialog-box {
	text-align:center;
	padding:15px;
	background: #6C747F;
}

.dialog-title {
	font-size:1.2em;
	color: white;
	text-transform: uppercase;
}

.dialog-subtitle {
	font-size:1em;
	color: white;
	text-transform: uppercase;
}

.dialog-content {
	padding:5px;
}

.dialog-wait {
	background: url(/img/wait.gif) white no-repeat;
	background-position: center;
	width: 60px;
	height: 60px;
	text-align: center;
	border: 2px solid #6C747F;
	border-radius: 30px;
	/*box-shadow: -10px 10px 38px rgb(105, 119, 131);*/
}

.waitmsg {
	margin: 25px;
	padding: 2px;
	max-width: 275px;
	color: white;
	text-transform: uppercase;
}

.dialog_help_content {
	max-width: 350px;
	padding: 8px;
	background: white;
	margin-bottom: 15px;
}

textarea[data-id] {
	width:300px;
	height:100px;
}

button[data-id] {
	background:#33455D;
	border:none;
	padding:3px 8px;
	margin-top:15px;
	color: white;
	text-transform: uppercase;
	cursor:pointer;
}

/* ---------------------------------- loading ---------------------------------- */
div.loading {
	width: 50em;
	display: block ! important;
	background: no-repeat center url("/img/wait.gif");
}

/* ---------------------------------- account ----------------------------------- */
ul.account {
	list-style: none;
}

ul.account > li {
	display: none;
}

ul.account > li.active {
	display: block;
}

ul.account > li.account div.switch {
	cursor: pointer;
}

form.account  {
	text-transform: uppercase;
	background: #999;
	color: black;
	border-radius: 3px;
	width:450px;
	margin:70px auto;
	text-align:center;
	padding:30px;
}

form.account label {
	width:150px;
	display: inline-block;
	text-align: right;
}

form.account input {
	background:#EEE;
	width: 250px;
	height: 25px;
	margin-left: 20px;
	margin-bottom: 15px;
	padding:5px;
	border:0;
}

form.account input[type='submit'] {
	background:#CCC;
	color:#999;
	margin:10px;
	width:10em;
	height:3em;
	cursor:pointer;
	text-transform: uppercase;
}

form.account input[type='submit']:hover {
	background:black;
	color:white;
}

form.account div {
	text-align:center;
}

/* -------------------------------- swipe -------------------------------*/
.swipe {
	display: grid;
}

.swipe[data-direction="horizontal"] {
	grid-template-areas: "backward window forward";
}

.swipe[data-direction="vertical"] {
	grid-template-areas: "backward"
	                     "window"
                         "forward";
}

.swipe > .backward {
	grid-area: backward;
}

.swipe > .window {
	grid-area: window;
	overflow: hidden;
}

.swipe > .forward {
	grid-area: forward;
}

.swipe .slider {
	position: relative;
}

