[data-tooltip] {
	position: relative;
	cursor: pointer;
}

[data-tooltip]:after {
	content: attr(data-tooltip);
	position: absolute;
	visibility: hidden;
	z-index:100000000;
}

[data-tooltip]:hover:after {
	visibility: visible;
}

.state .display.hidden {
	visibility: hidden;
}

a.mail:after {
	content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

